.articles {
    background-color: hsl(0, 0%, 98%);
    padding-top: 70px;
    padding-bottom: 70px;
}

.articles_heading {
    padding-bottom: 32px;
}

.articles_author {
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.articles_subheading {
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.articles_paragraph {
    padding-bottom: 52px;
    padding-left: 25px;
    padding-right: 25px;
}

.articles_lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & li + li {
        margin-top: 22px;
    }
    & li {
        background-color: #ffffff; 
        text-align: left;
        border-radius: 0px 0px 10px 10px;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0px 0px;
        }
    }
}

@media (min-width: 1000px) {
    .articles_lists {
        flex-direction: row;
        // justify-content: center;
        justify-content: space-between;
        align-items: start;
        // flex-wrap: wrap;
    }
    // & li + li {
    //     margin-top: unset;
    // }
    
    .articles_lists li + li {
        margin-top: unset;
        margin-left: 20px;
    }
    .articles_lists li {
        margin-left: unset;
        margin-right: unset;
        height: calc(100vh - 10px);
        & img {
            height: calc(50vh - 100px);
        }
    }
    .articles_paragraph {
        padding-bottom: 32px;
    }
}