.easybank {
    background-color: hsl(220, 16%, 96%);
    padding-top: 70px;
    padding-bottom: 50px;
}

.easybank_paragraph {
    padding-top: 22px;
    padding-bottom: 52px;
}

.easybank_subheading {
    padding-top: 22px;
}