footer {
    background-color: hsl(233, 26%, 24%);
    padding-top: 42px;
    padding-bottom: 42px;
    & .footer_social_lists {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

h5 a {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-indent: -9999px;
    filter: brightness(0) invert(1);
}

.footer_heading {
    color: white;
}

.footer_social_lists li a {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.footer_social_lists li:nth-child(1) a {
    background-image: url('../images/icon-facebook.svg');
}

.footer_social_lists li:nth-child(2) a {
    background-image: url('../images/icon-youtube.svg');
}

.footer_social_lists li:nth-child(3) a {
    background-image: url('../images/icon-twitter.svg');
}

.footer_social_lists li:nth-child(4) a {
    background-image: url('../images/icon-pinterest.svg');
}

.footer_social_lists li:nth-child(5) a {
    background-image: url('../images/icon-instagram.svg');
}

.footer_social_lists li a:hover,
.footer_social_lists li a:active {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(1);
  }

.footer_menu__lists {
    padding-bottom: 42px;
}

.footer_menu__lists li + li {
    margin-top: 16px;
}

.footer_menu__lists li a {
    text-decoration: none;
    font-family: 'Public Sans';
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: hsl(220, 16%, 96%);
    font-style: normal;
}

.footer_menu__lists li a:hover {
    color: hsl(136, 65%, 51%);
}

.footer p {
    color: hsl(220, 16%, 96%);
    font-family: 'Public Sans';
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    padding-top: 22px;
}

@media (min-width: 1000px) {
    .footer_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 50px);
        align-self: start;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        & h5 {
            // width: 140px;
            // align-self: flex-start;
            grid-column: 1 / 2;
            grid-row: 1 / 2;

        }
        & .footer_social_lists {
            // align-self: flex-end;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        & .footer_menu__lists {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: unset;
        }
        & .footer_request {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
        & p {
            grid-column: 4 / 5;
            grid-row: 3 / 4; 
        }
        & .footer_menu__lists li:nth-child(2) {
            margin-top: unset;
        }
    }
}