html {
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  font-size: 18px; }

body {
  text-align: center; }

body, p, h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0; }

.container {
  margin-left: 22px;
  margin-right: 22px; }

.mastheader_paragraph, .easybank_paragraph, .articles_paragraph {
  font-family: 'Public Sans';
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #9698a6;
  font-style: normal; }

h3 {
  font-family: 'Public Sans';
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 48px;
  color: rgba(45, 49, 77, 0.8); }

h4 {
  font-family: 'Public Sans';
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  color: rgba(45, 49, 77, 0.8);
  font-style: normal; }

ul {
  list-style: none; }

.articles_author {
  font-family: 'Public Sans';
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #9698a6;
  font-style: normal; }

.request {
  background-image: linear-gradient(50deg, #31d35c 0%, #2bb7da 100%);
  border: none;
  font-family: 'Public Sans';
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: white;
  font-style: normal;
  padding: 12px 30px;
  border-radius: 25px; }

.request:hover, .request:active {
  opacity: 0.8; }

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; } }

.site_header {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 32px; }

body > input[type="checkbox"] {
  position: absolute;
  top: 0%;
  right: 10%; }

h1 {
  width: 140px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 20%;
  left: 9%; }

.site_header__label {
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1,5rem;
  display: block;
  position: absolute;
  top: 20%;
  right: 7%;
  width: 2rem;
  height: 2rem;
  text-indent: -9999px; }

.navigation {
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-150px); }
  .navigation ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .navigation ul li a {
      text-decoration: none;
      font-family: 'Public Sans';
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #9698a6;
      font-style: normal; }
    .navigation ul li a:hover {
      color: #2d314d; }
  .navigation ul li + li {
    padding-top: 20px; }

body > input[type="checkbox"]:checked ~ header .navigation {
  background-image: linear-gradient(180deg, #2d314d 0%, rgba(243, 244, 246, 0.2) 50%);
  transform: translate(0px);
  top: 100%;
  left: 0%;
  padding: 42px;
  background-color: rgba(150, 152, 166, 0.2);
  height: 100vh;
  width: 275px; }

body > input[type="checkbox"]:checked ~ header .navigation ul {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 60px; }

body > input[type="checkbox"]:checked ~ header .site_header__label {
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1,5rem; }

.site_header__button {
  display: none; }

@media (min-width: 1000px) {
  .site_header {
    padding-bottom: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
  h1 {
    position: unset;
    top: unset; }
  .site_header__label {
    display: none; }
  .navigation {
    position: unset;
    top: unset;
    left: unset;
    transform: unset; }
    .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .navigation ul li + li {
      padding-top: unset;
      margin-left: 50px; }
  .site_header__button {
    display: block; } }

.mastheader {
  background-color: #fafafa;
  padding-bottom: 100px; }

.mastheader img {
  width: 100%;
  margin-top: -110px; }

.mastheader_heading {
  font-family: 'Public Sans';
  font-size: 3rem;
  line-height: 54px;
  color: rgba(45, 49, 77, 0.8);
  font-style: normal;
  font-weight: 500; }

.mastheader_paragraph {
  padding-top: 30px;
  padding-bottom: 50px; }

@media (min-width: 1000px) {
  .mastheader {
    padding-left: unset;
    padding-right: unset; }
  .mastheader_heading {
    font-size: 3.5rem;
    line-height: 64px; }
  .mastheader_container {
    display: flex;
    flex-direction: row-reverse; }
    .mastheader_container img {
      width: 500px;
      position: absolute;
      top: 20%;
      left: 60%; }
  .mastheader_heading__container {
    text-align: start;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 600px; } }

.easybank {
  background-color: #f3f4f6;
  padding-top: 70px;
  padding-bottom: 50px; }

.easybank_paragraph {
  padding-top: 22px;
  padding-bottom: 52px; }

.easybank_subheading {
  padding-top: 22px; }

@media (min-width: 1000px) {
  .easybank_lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .easybank_lists li {
      text-align: left; }
    .easybank_lists li + li {
      margin-left: 20px; }
  .easyback_heading_container {
    text-align: left;
    max-width: 700px; } }

.articles {
  background-color: #fafafa;
  padding-top: 70px;
  padding-bottom: 70px; }

.articles_heading {
  padding-bottom: 32px; }

.articles_author {
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px; }

.articles_subheading {
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px; }

.articles_paragraph {
  padding-bottom: 52px;
  padding-left: 25px;
  padding-right: 25px; }

.articles_lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .articles_lists li + li {
    margin-top: 22px; }
  .articles_lists li {
    background-color: #ffffff;
    margin-left: 22px;
    margin-right: 22px;
    text-align: left;
    border-radius: 0px 0px 10px 10px; }
    .articles_lists li img {
      width: 100%;
      border-radius: 10px 10px 0px 0px; }

@media (min-width: 1000px) {
  .articles_lists {
    flex-direction: row;
    justify-content: space-between;
    align-items: start; }
  .articles_lists li + li {
    margin-top: unset;
    margin-left: 20px; }
  .articles_lists li {
    margin-left: unset;
    margin-right: unset;
    height: calc(100vh + 200px); }
    .articles_lists li img {
      height: 50vh; }
  .articles_paragraph {
    padding-bottom: 32px; } }

footer {
  background-color: #2d314d;
  padding-top: 42px;
  padding-bottom: 42px; }
  footer .footer_social_lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px; }

h5 a {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-indent: -9999px;
  filter: brightness(0) invert(1); }

.footer_heading {
  color: white; }

.footer_social_lists li a {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px; }

.footer_social_lists li:nth-child(1) a {
  background-image: url("../images/icon-facebook.svg"); }

.footer_social_lists li:nth-child(2) a {
  background-image: url("../images/icon-youtube.svg"); }

.footer_social_lists li:nth-child(3) a {
  background-image: url("../images/icon-twitter.svg"); }

.footer_social_lists li:nth-child(4) a {
  background-image: url("../images/icon-pinterest.svg"); }

.footer_social_lists li:nth-child(5) a {
  background-image: url("../images/icon-instagram.svg"); }

.footer_social_lists li a:hover,
.footer_social_lists li a:active {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(1); }

.footer_menu__lists {
  padding-bottom: 42px; }

.footer_menu__lists li + li {
  margin-top: 16px; }

.footer_menu__lists li a {
  text-decoration: none;
  font-family: 'Public Sans';
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #f3f4f6;
  font-style: normal; }

.footer_menu__lists li a:hover {
  color: #31d35c; }

.footer p {
  color: #f3f4f6;
  font-family: 'Public Sans';
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  padding-top: 22px; }

@media (min-width: 1000px) {
  .footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 50px);
    align-self: start; }
    .footer_container h5 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .footer_container .footer_social_lists {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .footer_container .footer_menu__lists {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: unset; }
    .footer_container .footer_request {
      grid-column: 4 / 5;
      grid-row: 1 / 2; }
    .footer_container p {
      grid-column: 4 / 5;
      grid-row: 3 / 4; }
    .footer_container .footer_menu__lists li:nth-child(2) {
      margin-top: unset; } }
