html {
  font-family: 'Public Sans', serif, sans-serif;
  font-size: 18px; }

body {
  text-align: center; }

body, p, h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0; }

.mastheader_paragraph, .easybank_paragraph, .articles_paragraph {
  font-family: 'Public Sans';
  font-weight: 400;
  color: #9698a6;
  font-style: normal; }

h3 {
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 2rem;
  color: #2d314d; }

h4 {
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 22px;
  color: #2d314d;
  font-style: normal; }

ul {
  list-style: none; }

.articles_author {
  font-family: 'Public Sans';
  font-weight: 300;
  color: #9698a6;
  font-style: normal; }

.request {
  background-image: linear-gradient(50deg, #31d35c 0%, #2bb7da 100%);
  border: none;
  font-family: 'Public Sans';
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-style: normal;
  padding: 12px 30px;
  border-radius: 25px; }

h1, h5 {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.site_header {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 10px; }

body > input[type="checkbox"] {
  position: absolute;
  top: 0%;
  right: 10%; }

h1 {
  width: 200px; }

.site_header__label {
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1,5rem;
  display: block;
  position: absolute;
  top: 35%;
  right: 10%;
  width: 2rem;
  height: 2rem;
  text-indent: -9999px; }

.navigation {
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-100px); }

.navigation ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.navigation ul li + li {
  padding-top: 20px; }

.navigation ul li a {
  text-decoration: none;
  font-family: 'Public Sans';
  font-size: 18px;
  font-weight: 400;
  color: #2d314d;
  font-style: normal; }

body > input[type="checkbox"]:checked ~ header .navigation {
  background-image: linear-gradient(180deg, #2d314d 0%, rgba(243, 244, 246, 0.2) 50%);
  transform: translate(0px);
  top: 100%;
  left: 0%;
  padding: 42px;
  background-color: rgba(150, 152, 166, 0.2);
  height: 100vh;
  width: 275px; }

body > input[type="checkbox"]:checked ~ header .navigation ul {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 60px; }

body > input[type="checkbox"]:checked ~ header .site_header__label {
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1,5rem; }

.mastheader {
  background-color: #fafafa; }

.mastheader_heading {
  font-family: 'Public Sans';
  font-size: 2rem;
  color: #2d314d;
  font-style: normal;
  font-weight: 700; }

.easybank {
  background-color: #f3f4f6; }

.articles {
  background-color: #fafafa; }

footer {
  background-color: seagreen; }
